* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  display: inline-block;
  width: 100%;
}

.wrapper .header {
  display: flex;
  justify-content: center;
}

.wrapper .header .header__wrap {
  display: inline-block;
  width: 100%;
  height: 80px;
  background-color: #385E72;
}

.wrapper .section {
  display: flex;
  justify-content: center;
}

.wrapper .section .section__wrap {
  display: inline-block;
  width: 100%;
  max-height: 554px;
  position: relative;
  padding-top: 4px;
}

.wrapper .section .section__wrap .img__wrap {
  display: inline-block;
  width: 100%;
  background-color: #385E72;
}

.wrapper .section .section__wrap .img__wrap img {
  display: inline-block;
  width: 100%;
  background-position: center center;
  background-size: contain;
}

.wrapper .section .section__wrap .left__arrow {
  display: flex;
  justify-content: center center;
  align-items: center;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 20px;
  top: calc(50% - 30px);
  background-color: #D9E4EC;
  z-index: 10;
  border-radius: 30px;
  border: 1px solid black;
  cursor: pointer;
}

.wrapper .section .section__wrap .left__arrow:hover {
  background-color: #6AABD2;
  border: 1px solid grey;
}

.wrapper .section .section__wrap .left__arrow img {
  width: 40px;
  height: 40px;
}

.wrapper .section .section__wrap .right__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 60px;
  top: calc(50% - 30px);
  right: 20px;
  z-index: 100;
  background-color: #D9E4EC;
  border-radius: 30px;
  border: 1px solid black;
  cursor: pointer;
}

.wrapper .section .section__wrap .right__arrow:hover {
  background-color: #6AABD2;
  border: 1px solid grey;
}

.wrapper .section .section__wrap .right__arrow img {
  width: 40px;
  height: 40px;
}

.wrapper .main {
  display: flex;
  justify-content: center;
}

.wrapper .main .main__album {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 4px;
  width: 100%;
  height: 554px;
  position: relative;
  background-color: #B7CFDC;
  padding: 4px 0px;
  border: solid 2px grey;
}

@media screen and (max-width: 760px) {
  .wrapper .main .main__album {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.wrapper .main .main__album .album__box {
  display: inline-block;
  width: 100%;
  background-color: #6AABD2;
}

@media screen and (max-width: 760px) {
  .wrapper .main .main__album .album__box {
    height: 200px;
  }
}

.wrapper .footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrapper .footer .footer__wrap {
  display: inline-block;
  background-color: #6AABD2;
  width: 100%;
  height: 100px;
}

.container {
  display: inline-block;
  width: 1200px;
  background-color: #D9E4EC;
}

@media only screen and (max-width: 920px) {
  .container {
    margin: 0px 6px 0px 6px;
  }
}
