@import '_reset';
@import '_var';

.wrapper {
    display: inline-block;
    width: 100%;
    .header {
        display: flex;
        justify-content: center;
        .header__wrap {
            display: inline-block;
            width: 100%;
            height: 80px;
            background-color: #385E72;
        }
        
    }
    .section {
        display: flex;
        justify-content: center;
        .section__wrap {
            display: inline-block;
            width: 100%;
            max-height: 554px;
            position: relative;
            padding-top: 4px;
            .img__wrap {
                display: inline-block;
                width: 100%;
                background-color: #385E72;
                img {
                    display: inline-block;
                    width: 100%;
                    background-position: center center;
                    background-size: contain;

                }
            }
            .left__arrow {
                display: flex;
                justify-content: center center;
                align-items: center;
                width: 60px;
                height: 60px;
                position: absolute;
                left: 20px;
                top: calc(50% - 30px);
                background-color: #D9E4EC;
                z-index: 10;
                border-radius: 30px;
                border: 1px solid black;
                cursor: pointer;
                &:hover {
                    background-color: #6AABD2;
                    border: 1px solid grey;
                }
                img {
                    width: 40px;
                    height: 40px;
                }
            }   
            .right__arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 60px;
                height: 60px;
                top: calc(50% - 30px);
                right: 20px;
                z-index: 100;
                background-color: #D9E4EC;
                border-radius: 30px;
                border: 1px solid black;
                cursor: pointer;
                &:hover {
                    background-color: #6AABD2;
                    border: 1px solid grey;
                }
                img {
                    width: 40px;
                    height: 40px;  
                }   
            }    
        }
    }
    .main {
        display: flex;
        justify-content: center;
        .main__album {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 4px;
            width: 100%;
            height: 554px;
            position: relative;
            background-color: #B7CFDC;
            padding: 4px 0px;
            border: solid 2px grey;
            @media screen and (max-width: $mobile) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
            }
            .album__box {
                display: inline-block;
                width: 100%;
                background-color: #6AABD2;
                @media screen and (max-width: $mobile) {
                    height: 200px;
                }
            }
            
            
            
            // .album__navigation {
            //     display: inline-block;
            //     width: 100%;
            //     height: 40px;
            //     background-color: #D9E4EC;
            //     border-radius: 40px;
            //     margin: 4px 2px 4px 2px;
            // }
               
        }
    }
    .footer {
        display: flex;
        justify-content: center;
        width: 100%;
        .footer__wrap   {
            display: inline-block;
            background-color: #6AABD2;
            width: 100%;
            height: 100px;
            
        }
    }
}


.container {
    display: inline-block;
    width: 1200px;
    background-color: #D9E4EC;
    // margin-left: calc(50% - 600px);
    @media only screen and (max-width: $tablet) {
        margin: 0px 6px 0px 6px;
    }
}

